body{
	background: none !important;
    overflow: hidden !important;
}

html{
    overflow: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bankui {
    opacity: 0;
    height: 1000px;
    transition: 0.5s ease-in-out opacity;
    margin-top: 3%;
    background-color: #1a1a1a;
    /* background-color: #212832; */
}

.hidden{
    display: none !important;
}
.header-title {
    color:white;

}

.img-spacer {
    padding-right: 20px;
    padding-left: 20px;
}

.income {
    color: #92f075;
    text-shadow:  2px 2px rgba(0, 0, 0, 0.05);
}

.addition {
    color: #92f075;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.05);
}

.expense {
    color: #f2a367;
    text-shadow:  2px 2px rgba(0, 0, 0, 0.05);
}

p {
    margin-bottom: 0.5rem;
}

.note {
    margin: 0;
}

.account {
    margin: 0.5rem;
    /* margin-bottom: 0.5rem; */
}

.deposit{
    background: #92f075;
    color: #000 !important;
    border: 0;
}

.withdraw{
    background: #f2a367;
    color: #000 !important;
    border: 0;
}

.transfer{
    background: #dfe0db;
    color: #000 !important;
    border: 0;
}

.deposit:hover{
    background: #82d669;
    color: #000 !important;
}

.withdraw:hover{
    background: #d9935d;
    color: #000 !important;
}

.transfer:hover{
    background: #c6c7c3;
    color: #000 !important;
}

.container{
    margin-top: 13%;
    display: flex;
}

#Transaction_Row, #Player_Accounts{
    height: 900px;
    overflow-y: scroll;
    box-sizing: content-box;
    /* background-color: #212832; */
}

.dark-modal, .modal-body, .modal-header, .modal-footer{
    color: #fff;
    background: #434343;
    border: 0 !important;
}

.right{
    float: right;
    right: 0;
}


/* width */
::-webkit-scrollbar {
    width: 0px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
.bgdark1 {
    background-color: #434343!important;
    border: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
}
/* Accounts */
.bgdark2 {
    background-color: #434343 !important;
    border: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
}

.accountbar {
    text-align: center;
}

.accountinfo {
    background: #434343;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding-left: 5px;
}

.button {
    background: #434343;
    color: #fff;
    text-decoration: none;
    width: 250px;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.account_name {
    font-size: 20px;
    color: #ccc;
    display: block; 
  }
.account_balance {
    font-size: 15px;
    color: #ccc;
    display: block; 
}
.icon-background {
    color: #000000;
}

.center {  
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.btnText {
    vertical-align: middle; 
    display: inline-block;
}